___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [243]:
1 + 1

2

In [244]:
1 * 3

3

In [245]:
1 / 2

0.5

In [246]:
2 ** 4

16

In [247]:
4 % 2

0

In [248]:
5 % 2

1

In [249]:
(2 + 3) * (5 + 5)

50

#### Loop 10 random #s and test for even/odd

In [250]:
from random import randint
for i in range(10):
    rand_num = randint(0, 10000)
    if rand_num % 2:  # we could have written: if rand_num & 2 == 0:
        print("even: \t", rand_num)  # \t is a tab char
    else:
        print("odd: \t", rand_num)

odd: 	 4872
odd: 	 6880
odd: 	 4630
odd: 	 5010
odd: 	 5416
even: 	 9083
odd: 	 3326
odd: 	 7326
even: 	 5229
even: 	 3147



### Variable Assignment

In [251]:
# Use lowercase; don't start with number or special characters; separate with _
name_of_var = 2

In [252]:
x = 2
y = 3

In [253]:
z = x + y

In [254]:
z

5

### Comments ###
<p>Use a single # at beginning of line for a comment, or use:<br><br>
    2 spaces + # after code, or use:<br> <br>
    """docstring block of text here  <br>
    more docstring text here <br>
    a bit more here to explain the code<br>
    more here <br>
    and here...<br>
    """   (end with these followed by a blank line)<br>

### Strings

In [255]:
'single quotes'

'single quotes'

In [256]:
"double quotes"

'double quotes'

In [257]:
"wrap lot's of other quotes"

"wrap lot's of other quotes"

### Printing

In [258]:
x = 'hello'

In [259]:
x

'hello'

In [260]:
print(x)

hello

In [261]:
num = 12
name = 'Sam'

In [262]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [263]:
# advantage with the above method is that you don't have to worry about
# the order of 'one' and 'two', and you can use them multiple times, such as below.
# Note that you must use legal variable names in the {}

In [264]:
print('Number: {one}, name: {two}. And {two} is {one} years old!'.format(one=num, two=name))

Number: 12, name: Sam. And Sam is 12 years old!

In [265]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [266]:
# the above method is certainly the easiest to write and read if you're usinhg
# the values only once in a line. You can also do it this way:

In [267]:
print('Number: {0}, name: {1}. And {1} is {0} years old!'.format(num, name))

Number: 12, name: Sam. And Sam is 12 years old!

### Lists

In [268]:
[1,2,3]

[1, 2, 3]

In [269]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [270]:
my_list = ['a','b','c', 'd', 'e']

In [271]:
my_list.append('f')  # appends single value to the end of the list

In [272]:
my_list.insert(5,'Z')  # .insert(position_to_insert, value_to_insert)

In [273]:
my_list

['a', 'b', 'c', 'd', 'e', 'Z', 'f']

In [274]:
my_list.extend(['j', 'k', 'l'])  # add multiple items to your list

In [275]:
my_list

['a', 'b', 'c', 'd', 'e', 'Z', 'f', 'j', 'k', 'l']

In [276]:
my_list[0]

'a'

In [277]:
my_list[1]

'b'

In [278]:
my_list[-1]

'l'

In [279]:
my_list[-4:-2]

['f', 'j']

In [280]:
my_list[-3::]

['j', 'k', 'l']

In [281]:
my_list[1:]

['b', 'c', 'd', 'e', 'Z', 'f', 'j', 'k', 'l']

In [282]:
my_list[:3] # ending index number is NOT included

['a', 'b', 'c']

In [283]:
my_list[2:5]

['c', 'd', 'e']

In [284]:
my_list[0] = 'NEW'

In [298]:
my_list

['NEW', 'b', 'c', 'd', 'e', 'Z', 'f', 'j', 'k', 'l']

In [299]:
my_list[5] = "HOLA!"  # or use: my_list.insert(5, 'HOLA!')

In [300]:
my_list

['NEW', 'b', 'c', 'd', 'e', 'HOLA!', 'f', 'j', 'k', 'l']

In [303]:
nest = [1,2,3,[4,5,['target']], 6, 7, ['a', 'b', 'c']]

In [305]:
nest[3]

[4, 5, ['target']]

In [306]:
nest[-1]

['a', 'b', 'c']

In [288]:
nest[3][2]

['target']

In [307]:
nest[3][2][0]

'target'

In [310]:
nest[3][2]

['target']

In [326]:
nest[-1][0]

'a'

In [327]:
nested = [1, 2, [3, 4, [5, 6, [7, 8]]]]

In [328]:
nested[2]

[3, 4, [5, 6, [7, 8]]]

In [329]:
nested[2][2]

[5, 6, [7, 8]]

In [330]:
nested[2][2][2]

[7, 8]

In [331]:
nested[2][2][2][0]

7

### Dictionaries

In [332]:
d = {'key1':'item1','key2':'item2'}

In [333]:
d

{'key1': 'item1', 'key2': 'item2'}

In [334]:
d['key1']

'item1'

### Booleans

In [335]:
True

True

In [336]:
False

False

### Tuples

In [337]:
t = (1,2,3)

In [338]:
t[0]

1

In [339]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [ ]:
{1,2,3}

In [ ]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

## Comparison Operators

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

## Logic Operators

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## if,elif, else Statements

In [ ]:
if 1 < 2:
    print('Yep!')

In [ ]:
if 1 < 2:
    print('yep!')

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

## for Loops

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for item in seq:
    print(item)

In [ ]:
for item in seq:
    print('Yep')

In [ ]:
for jelly in seq:
    print(jelly+jelly)

## while Loops

In [ ]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

## range()

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
list(range(5))

## list comprehension

In [ ]:
x = [1,2,3,4]

In [ ]:
out = []
for item in x:
    out.append(item**2)
print(out)

In [340]:
[item**2 for item in x]

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

## functions

In [ ]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
my_func

In [ ]:
my_func()

In [ ]:
my_func('new param')

In [ ]:
my_func(param1='new param')

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)

## lambda expressions

In [ ]:
def times2(var):
    return var*2

In [ ]:
times2(2)

In [ ]:
lambda var: var*2

## map and filter

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
map(times2,seq)

In [ ]:
list(map(times2,seq))

In [ ]:
list(map(lambda var: var*2,seq))

In [ ]:
filter(lambda item: item%2 == 0,seq)

In [ ]:
list(filter(lambda item: item%2 == 0,seq))

## methods

In [ ]:
st = 'hello my name is Sam'

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split()

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.items()

In [ ]:
lst = [1,2,3]

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']

# Great Job!